/* navbar top */

////////////////////////////////////////////////
// Navbar header //////////////////////////////
//////////////////////////////////////////////
#headerNavbar {
    .left-navbar, .right-navbar {
        text-transform:uppercase;
        letter-spacing: 1px;
        font-size:15px;
        a {
            padding: 3px 5px 0 5px;
            margin:0 5px;
            color:#000;
            &:hover{
                color: $primarycolor;
                transition: all 1.8s ease;
            }
        }
        .navbar-dropdown-menu {
            border:0;
            background-color:#fff;
            border-radius:0;
            a {
                margin:5px 0;
                padding:5px;
                font-size:10px;
                border:0;
                background-color:transparent;
                &:hover{
                    color:$primarycolor;
                } 
            }
            .active {
                background-color:transparent;
                color:$primarycolor;
            }
        }
        .active {
            color: $primarycolor;
            font-weight:bold; 
        }
    }
}

////////////////////////////////////////////////////////////
// Media Query Navbar header //////////////////////////////
//////////////////////////////////////////////////////////

@media all and (max-width: 760px) {
    #headerNavbar {
        .left-navbar, .right-navbar {
            a {
                font-size:13px;
                padding: 7px;
                &:hover{
                    color:$primarycolor;
                    background-color:transparent;
                    transition: all 1.8s ease;
                }
            }
            .navbar-dropdown-menu {
                border:0;
                background-color:#fff;
                border-radius:0;
                text-align:left;
                box-shadow: none!important;
                width:33%;
                a {
                    margin:0;
                    padding:5px 25px;
                    font-size:10px;
                    border:0;
                    &:hover{
                        background-color:transparent;
                    } 
                }
                .active {
                    background-color:transparent;
                    color:$primarycolor;
                }
            }
            .active {
                color:$primarycolor;
                font-weight:bold;
            }
        }
    }
}