/* navbar top */

////////////////////////////////////////////////
// Navbar header //////////////////////////////
//////////////////////////////////////////////
  
#headerNavbar {
    li {
        ul { 
            display: none;
        }
        &:hover {
            > ul {
                display: block;
                position: absolute;
            }
        }
        li {
            background-color: rgb(228, 253, 246);
            width:100%;
            max-width:215px;
            box-shadow:0 0.125rem 0.25rem rgba(0, 0, 0, 0.050);
            &:hover li {
                float:none;
            }
        }
    }
    ul {
        &:before,&:after {
            content: " "; /* 1 */
            display: table; /* 2 */
        }
        &:after {
            clear: both;
        }
        ul {
            ul {
                right: 100%;
                top: 0;
            }
        }
    }
    .left-navbar, .right-navbar {
        text-transform:uppercase;
        letter-spacing: 1px;
        font-size:15px;
        a {
            text-decoration:none;
            padding: 3px 5px 0 5px;
            margin:0 5px;
            color:#000;
            &:hover{
                
                font-weight: bold;
                transition: all 0.3s ease;
            }
        }
        .active {
            color: $primarycolor;
            font-weight:bold; 
        }
        ul li {
            display: block;
            position: relative;
            float: left;
            a {
                margin:0;
                padding:8px;
                display: block;
                text-decoration: none;
                white-space: nowrap;
                &:hover {
                    color:$primarycolor;
                    background-color:$light;
                }
            }
        }
        
    }
}

////////////////////////////////////////////////////////////
// Media Query Navbar header //////////////////////////////
//////////////////////////////////////////////////////////

@media all and (max-width: 760px) {
    #headerNavbar {
        padding-top:15px;
        li {
            li {
                background-color:transparent;
                padding:0;
                box-shadow:none;
            }
            &:hover > ul {
                position:relative;
                display: flex;
                flex-direction: column;
                background-color:transparent;
            }
        }
        ul {
            ul {
                ul {
                    left: 0;
                }
            }
        }
        .left-navbar, .right-navbar {
            a {
                font-size:13px;
                padding: 7px;
                &:hover{
                    color:$primarycolor;
                    background-color:transparent;
                }
            }
            .active {
                color:$primarycolor;
                font-weight:bold;
            }
            ul li {
                a {
                    padding:7px;
                    &:hover{
                        background-color:transparent;
                    }
                }
            }
        }
    }
}