// Action bluk_active
.voyager #bulk_active_btn, .voyager #bulk_disable_btn{
    i {
      position:relative;
      top:2px;
    }
}
@media (max-width: 768px) {
    #bulk_active_btn span, #bulk_disable_btn span{
      display:none;
    }
}

// VoyagerMenuExtend
.radio-menu-active-item {
  display:inline-flex;
  width:140px!important;
    li {
      border:none!important;
    }
}