.maintenance-button {
    ul li {
        width:90px;
        border-bottom:0;
        margin-top:4px;
    }
    .alert .close {
        right: -6px;
        top: -30px;
        padding: 5px;
        background: transparent;
        font-size: 28px;
    }
}