.breadcrumbs-bg {
    position:relative;
    ul {
        background-color: $body-bg;
        li {
            font-weight:bold;
            text-transform:uppercase;
            letter-spacing:1px;
            color: #000;
            a {
                color: $primarycolor;
                text-decoration: none;
                &:hover {
                    font-weight:500;

                }
            }
        }
    }
}

////////////////////////////////////////////////////////////
// Media Query Breadcrumbs header /////////////////////////
//////////////////////////////////////////////////////////

@media all and (max-width: 760px) {
    .breadcrumbs-bg {
        ul {
            li {
                font-size:0.7em;
            }
        }
    }
}