@import '~@fortawesome/fontawesome-free/css/solid.min.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.min.css';

@font-face {
    font-family: 'Nunito';
    src: 
        url('../../fonts/nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito-bold';
    src: 
        url('../../fonts/nunito/Nunito-Bold.ttf') format('truetype');
}
