// Body
$body-bg: #f8fafc;

// Typography
$nunito: 'Nunito', sans-serif;
$nunito-bold: 'Nunito-bold', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$teal: #66e6d9;
$cyan: #6cb2eb;
$light: #fff;

// variables général
$primarycolor: #00bc88;
$secondarycolor: #3a3739;