// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: hsl(145, 86%, 75%);
$teal: #66e6d9;
$cyan: #6cb2eb;

// variables général
$primarycolor: #00bc88;
$secondarycolor: #3a3739;