// Utilities

// TYPOGRAPHY HELPERS

// BUTTONS
.btn-prototype {
    color: #000;
    background-color: $primarycolor;
    border-color: $primarycolor;
    &:hover {
        color:$body-bg;
    }
    &:hover, &:focus, &:active {
        box-shadow: none;
    }
}

.btn-outline-prototype {
    background: $primarycolor;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid $primarycolor;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, $primarycolor 50%, transparent 50%);
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    &:hover {
        background-color: #ffffff;
        background-position: 0 -100%;
        color: $primarycolor;
    }
    &:hover, &:focus, &:active {
        box-shadow: none;
    }
}

.bg-custom {
    background-color:$primarycolor;
}

////////////////////////////////////////////////////////////
//////////////////// Media Query //////////////////////////
//////////////////////////////////////////////////////////

// @media all and (max-width: 760px) {
// }