// Utilities

// TYPOGRAPHY HELPERS
.h1-page-title {
    position: relative;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 150px;
        height: 2px;
        background: $primarycolor;
        background-repeat: no-repeat;
        left: 0;
        right:0;
        top: 52px;
        margin: auto;
    }
}

// BUTTONS
.btn-prototype {
    color: #000;
    background-color: $primarycolor;
    border-color: $primarycolor;
    &:hover {
        color:$body-bg;
    }
    &:hover, &:focus, &:active {
        box-shadow: none;
    }
}

.btn-outline-prototype {
    color: #000;
    border-color: $primarycolor;

    &:hover {
        color: #fff;
        background-color: $primarycolor;
        border-color: $primarycolor;
    }
    &:hover, &:focus, &:active {
        box-shadow: none;
    }
}

////////////////////////////////////////////////////////////
//////////////////// Media Query //////////////////////////
//////////////////////////////////////////////////////////

@media all and (max-width: 760px) {

    .h1-page-title {
        font-size: 22px;
        margin-bottom: 40px;
        &:after {
            content: '';
            width: 100px;
            top: 40px;
        }
    }
}